on:
  schedule:
    - cron: "57 23 * * *" # 每天晚上23:57启动（北京时间，GitHub Actions 用UTC，23:57+8小时=次日7:57
  workflow_dispatch:        # 允许手动开/关

jobs:
  reserve:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libgl1 libglib2.0-0

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run reserve script
        env:
          CX_USERNAME: ${{ secrets.CX_USERNAME }}
          CX_PASSWORD: ${{ secrets.CX_PASSWORD }}
        run: |
          python main.py --action


